table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  background-color: green;
}
