@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@400;600&display=swap");

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background-color: rgb(248, 244, 217);
  margin-top: 60px;
  text-align: left;
}

#col1 {
  font-family: "Amatic SC", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  background-color: rgb(158, 204, 164);
  width: 200px;
  padding: 4px;
}

#col2 {
  font-family: "Amatic SC", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  background-color: rgb(140, 214, 183);
  width: 600px;
  padding: 4px;
}

#col3 {
  font-family: "Amatic SC", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  background-color: rgb(158, 204, 164);
  width: 100px;
  padding: 4px;
}

#col4,
#col5 {
  width: 140px;
}

td {
  padding: 4px;
}

div.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.addField[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inCellInput {
  margin: 0px;
  border: none;
  background-color: none;
  height: 30px;
  padding: 4px;
}

.button-row {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-family: "Amatic SC", cursive;
  font-family: "Montserrat", sans-serif;
  display: inline;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  background-color: rgba(89, 128, 124, 0.8);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 4px;
  padding: 0 14px;
  margin: 2px;
}

#addBtn {
  width: 50px;
}

body {
  font-family: "Amatic SC", cursive;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(248, 244, 217);
}
